In [4]:
import pandas as pd

In [36]:
df = pd.read_csv('athletes.csv')
df.head()

,code,name,name_short,name_tv,gender,function,country_code,country,country_full,nationality,...,family,lang,coach,reason,hero,influence,philosophy,sporting_relatives,ritual,other_sports
0,1532872,ALEKSANYAN Artur,ALEKSANYAN A,Artur ALEKSANYAN,Male,Athlete,ARM,Armenia,Armenia,Armenia,...,"Father, Gevorg Aleksanyan","Armenian, English, Russian","Gevorg Aleksanyan (ARM), father",He followed his father and his uncle into the ...,"Footballer Zinedine Zidane (FRA), World Cup wi...","His father, Gevorg Aleksanyan","""Wrestling is my life."" (mediamax.am. 18 May 2...",NaN,NaN,NaN
1,1532873,AMOYAN Malkhas,AMOYAN M,Malkhas AMOYAN,Male,Athlete,ARM,Armenia,Armenia,Armenia,...,NaN,Armenian,NaN,NaN,NaN,NaN,"""To become a good athlete, you first have to b...","Uncle, Roman Amoyan (wrestling), 2008 Olympic ...",NaN,NaN
2,1532874,GALSTYAN Slavik,GALSTYAN S,Slavik GALSTYAN,Male,Athlete,ARM,Armenia,Armenia,Armenia,...,NaN,Armenian,Personal: Martin Alekhanyan (ARM).<br>National...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1532944,HARUTYUNYAN Arsen,HARUTYUNYAN A,Arsen HARUTYUNYAN,Male,Athlete,ARM,Armenia,Armenia,Armenia,...,"Wife, Diana (married October 2022). Daughter, ...",Armenian,National: Habetnak Kurghinyan,While doing karate he noticed wrestlers traini...,"Wrestler Armen Nazaryan (ARM, BUL), two-time O...",NaN,"“Nothing is impossible, set goals in front of ...",NaN,NaN,NaN
4,1532945,TEVANYAN Vazgen,TEVANYAN V,Vazgen TEVANYAN,Male,Athlete,ARM,Armenia,Armenia,Armenia,...,"Wife, Sona (married November 2023)","Armenian, Russian",National: Habetnak Kurghinyan (ARM),“My family did not like wrestling very much. A...,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11110 entries, 0 to 11109
Data columns (total 35 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   code                11110 non-null  int64
 1   name                11110 non-null  object
 2   name_short          11110 non-null  object
 3   name_tv             11110 non-null  object
 4   gender              11110 non-null  object
 5   function            11110 non-null  object
 6   country_code        11110 non-null  object
 7   country             11110 non-null  object
 8   country_full        11110 non-null  object
 9   nationality         11091 non-null  object
 10  nationality_full    11091 non-null  object
 11  nationality_code    11091 non-null  object
 12  height              11110 non-null  int64
 13  weight              11092 non-null  float64
 14  disciplines         11110 non-null  object
 15  events              11110 non-null  object
 16  birth_date          11110 non-null  object
 17  birth_place         8713 non-null   object
 18  birth_country       9461 non-null   object
 19  residence_place     6792 non-null   object
 20  residence_country   8276 non-null   object
 21  nickname            2963 non-null   object
 22  hobbies             4201 non-null   object
 23  occupation          9571 non-null   object
 24  education           5531 non-null   object
 25  family              5555 non-null   object
 26  lang                10588 non-null  object
 27  coach               8212 non-null   object
 28  reason              5838 non-null   object
 29  hero                3312 non-null   object
 30  influence           2151 non-null   object
 31  philosophy          2779 non-null   object
 32  sporting_relatives  2516 non-null   object
 33  ritual              856 non-null    object
 34  other_sports        1057 non-null   object
dtypes: float64(1), int64(2), object(32)
memory usage: 3.0+ MB

In [38]:
df.describe()

               code        height        weight
count  1.111000e+04  11110.000000  11092.000000
mean   1.887406e+06     81.798830      2.215110
std    3.588479e+05     89.508247     13.118791
min    1.532872e+06      0.000000      0.000000
25%    1.888182e+06      0.000000      0.000000
50%    1.918839e+06      0.000000      0.000000
75%    1.948950e+06    177.000000      0.000000
max    9.460001e+06    222.000000    113.000000

In [39]:
df.isnull().sum()

code                      0
name                      0
name_short                0
name_tv                   0
gender                    0
function                  0
country_code              0
country                   0
country_full              0
nationality              19
nationality_full         19
nationality_code         19
height                    0
weight                   18
disciplines               0
events                    0
birth_date                0
birth_place            2397
birth_country          1649
residence_place        4318
residence_country      2834
nickname               8147
hobbies                6909
occupation             1539
education              5579
family                 5555
lang                    522
coach                  2898
reason                 5272
hero                   7798
influence              8959
philosophy             8331
sporting_relatives     8594
ritual                10254
other_sports          10053
dtype: int64

In [40]:
df.isnull().any()

code                  False
name                  False
name_short            False
name_tv               False
gender                False
function              False
country_code          False
country               False
country_full          False
nationality            True
nationality_full       True
nationality_code       True
height                False
weight                 True
disciplines           False
events                False
birth_date            False
birth_place            True
birth_country          True
residence_place        True
residence_country      True
nickname               True
hobbies                True
occupation             True
education              True
family                 True
lang                   True
coach                  True
reason                 True
hero                   True
influence              True
philosophy             True
sporting_relatives     True
ritual                 True
other_sports           True
dtype: bool

In [41]:
df.isnull().sum().sum()

np.int64(101683)

In [42]:
null_per = df.isnull().mean() * 100
print(null_per)

code                   0.000000
name                   0.000000
name_short             0.000000
name_tv                0.000000
gender                 0.000000
function               0.000000
country_code           0.000000
country                0.000000
country_full           0.000000
nationality            0.171017
nationality_full       0.171017
nationality_code       0.171017
height                 0.000000
weight                 0.162016
disciplines            0.000000
events                 0.000000
birth_date             0.000000
birth_place           21.575158
birth_country         14.842484
residence_place       38.865887
residence_country     25.508551
nickname              73.330333
hobbies               62.187219
occupation            13.852385
education             50.216022
family                50.000000
lang                   4.698470
coach                 26.084608
reason                47.452745
hero                  70.189019
influence             80.639064
philosophy            74.986499
sporting_relatives    77.353735
ritual                92.295230
other_sports          90.486049
dtype: float64

In [43]:
df.drop(columns=null_per[null_per > 70].index, inplace=True)

In [44]:
df.head()

,code,name,name_short,name_tv,gender,function,country_code,country,country_full,nationality,...,birth_country,residence_place,residence_country,hobbies,occupation,education,family,lang,coach,reason
0,1532872,ALEKSANYAN Artur,ALEKSANYAN A,Artur ALEKSANYAN,Male,Athlete,ARM,Armenia,Armenia,Armenia,...,Armenia,GYUMRI,Armenia,Playing and watching football,Athlete,Graduated from Shirak State University (Gyumri...,"Father, Gevorg Aleksanyan","Armenian, English, Russian","Gevorg Aleksanyan (ARM), father",He followed his father and his uncle into the ...
1,1532873,AMOYAN Malkhas,AMOYAN M,Malkhas AMOYAN,Male,Athlete,ARM,Armenia,Armenia,Armenia,...,Armenia,YEREVAN,Armenia,NaN,NaN,NaN,NaN,Armenian,NaN,NaN
2,1532874,GALSTYAN Slavik,GALSTYAN S,Slavik GALSTYAN,Male,Athlete,ARM,Armenia,Armenia,Armenia,...,NaN,YEREVAN,Armenia,NaN,NaN,NaN,NaN,Armenian,Personal: Martin Alekhanyan (ARM).<br>National...,NaN
3,1532944,HARUTYUNYAN Arsen,HARUTYUNYAN A,Arsen HARUTYUNYAN,Male,Athlete,ARM,Armenia,Armenia,Armenia,...,Armenia,YEREVAN,Armenia,NaN,Athlete,Graduated with a Master's degree from the Arme...,"Wife, Diana (married October 2022). Daughter, ...",Armenian,National: Habetnak Kurghinyan,While doing karate he noticed wrestlers traini...
4,1532945,TEVANYAN Vazgen,TEVANYAN V,Vazgen TEVANYAN,Male,Athlete,ARM,Armenia,Armenia,Armenia,...,Armenia,NaN,Armenia,NaN,Athlete,Studied at the Armenian State Institute of Phy...,"Wife, Sona (married November 2023)","Armenian, Russian",National: Habetnak Kurghinyan (ARM),“My family did not like wrestling very much. A...

In [46]:
null_per = df.isnull().mean() * 100
print(null_per)

code                  0.000000
name                  0.000000
name_short            0.000000
name_tv               0.000000
gender                0.000000
function              0.000000
country_code          0.000000
country               0.000000
country_full          0.000000
nationality           0.171017
nationality_full      0.171017
nationality_code      0.171017
height                0.000000
weight                0.162016
disciplines           0.000000
events                0.000000
birth_date            0.000000
birth_place          21.575158
birth_country        14.842484
residence_place      38.865887
residence_country    25.508551
hobbies              62.187219
occupation           13.852385
education            50.216022
family               50.000000
lang                  4.698470
coach                26.084608
reason               47.452745
dtype: float64

In [ ]:
# Identify object columns
float_cols = df.select_dtypes(include=['object']).columns

# Replace null values in float columns with their mode
for col in float_cols:
    mode_value = df[col].mode()[0]  
    df[col].fillna(mode_value, inplace=True)

/var/folders/mh/vq9sbyf90916w8fzlwkc0g240000gn/T/ipykernel_87985/2177247367.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mode_value, inplace=True)  # Replace NaN with mode

In [52]:
# Identify float columns
float_cols = df.select_dtypes(include=['float']).columns

# Replace null values in float columns with their mode
for col in float_cols:
   median_value = df[col].median()  # Get the median value
   df[col].fillna(median_value, inplace=True)  # Replace NaN with median

/var/folders/mh/vq9sbyf90916w8fzlwkc0g240000gn/T/ipykernel_87985/2749967547.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(median_value, inplace=True)  # Replace NaN with median

In [53]:
null_per = df.isnull().mean() * 100
print(null_per)

code                 0.0
name                 0.0
name_short           0.0
name_tv              0.0
gender               0.0
function             0.0
country_code         0.0
country              0.0
country_full         0.0
nationality          0.0
nationality_full     0.0
nationality_code     0.0
height               0.0
weight               0.0
disciplines          0.0
events               0.0
birth_date           0.0
birth_place          0.0
birth_country        0.0
residence_place      0.0
residence_country    0.0
hobbies              0.0
occupation           0.0
education            0.0
family               0.0
lang                 0.0
coach                0.0
reason               0.0
dtype: float64

In [54]:
print(f"missing values after handling is : \n{df.isnull().sum()}")

missing values after handling is :
code                 0
name                 0
name_short           0
name_tv              0
gender               0
function             0
country_code         0
country              0
country_full         0
nationality          0
nationality_full     0
nationality_code     0
height               0
weight               0
disciplines          0
events               0
birth_date           0
birth_place          0
birth_country        0
residence_place      0
residence_country    0
hobbies              0
occupation           0
education            0
family               0
lang                 0
coach                0
reason               0
dtype: int64

In [55]:
# index = flase or index will be there after the column
df.to_csv('athletes_cleaned.csv', index=False)
print("File saved into the athletes_cleaned.csv")

File saved into the athletes_cleaned.csv